*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./images/AlbedoBase_XL_Dark_atmospheric_cave_Towering_rock_formations_d_2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
#game-save-image{
    position: absolute;
    width: 300px;
    height: 42px;
    margin-top: 150px;
    margin-left: 38%;
}
.main-page-blur{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.541);
}
#load-slots-div{
    position: absolute;
    width: 50%;
    height: 280px;
    margin-left: 25%;
    margin-top: 250px;
    border-radius: 15px;

}
#slot1{
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
    border: 2px solid white;
}


.slot-title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
    margin-left: 20px;
}

#slot2{
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    border-radius: 15px;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    border: 2px solid white;
}
#slot3{
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    border-radius: 15px;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    border: 2px solid white;
}
#slot4{
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    border-radius: 15px;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    border: 2px solid white;
}
#slot1:hover{
    transition: 0.7s ease;
    box-shadow: 0px 0px 2px 2px white;
}
#slot2:hover{
    transition: 0.7s ease;
    box-shadow: 0px 0px 2px 2px white;
}
#slot3:hover{
    transition: 0.7s ease;
    box-shadow: 0px 0px 2px 2px white;
}

#slot4:hover{
    transition: 0.7s ease;
    box-shadow: 0px 0px 2px 2px white;
}