*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010203;
}
#glowing-codeverse-logo{
    position: absolute;
    display: none;
    width: 680px;
    height: 650px;
    margin-top: 700px;
    transition: 0.7s ease-in;
}
